# Análise de Dados Imobiliários

Esse repositório contém uma solução para um desafio envolvendo análise de dados e é organizado de maneira detalhada e acessível, podendo ser entendida por quem está iniciando na linguagem Python.

**Desafio:** Analisar, usando Python, os dados de uma empresa de imóveis e fazer o devido tratamento de dados, principalmente para os inúmeros valores nulos. Depois disso, desenvolver as tarefas: (a) Descobrir o valor bruto e o valor por metro quadrado de cada imóvel; (b) Diferenciar cada imóvel em "casa" ou "apartamento"; (c) Retirar os Outliers.

Estão disponibilizados neste repositório os seguintes arquivos: a base de dados, que contém informações de aproximadamente 33.000 vendas e a solução detalhada, em que estão explicações de como foram desenvolvidas ideias.

## Sumário

1. Bibliotecas usadas
2. Passo a passo do código
    * 2.1 Importar a base de dados
    * 2.2 Visualizar a base de dados
    * 2.3 Tratar os dados
        * 2.3.1 Verificar as variáveis de cada coluna
        * 2.3.2 Excluir colunas desnecessárias
        * 2.3.2 Analisar as células vazias
    * 2.4 Analisar os dados
        * 2.4.1 Analisar Graficamente
3. Conclusões e comentários

## 1. Bibliotecas usadas 

As principais bibliotecas usadas: [Pandas](https://pandas.pydata.org/), pois estamos trabalhando com base de dados e sua manipulação e [Matplotlib Pyplot](https://matplotlib.org/3.5.3/api/_as_gen/matplotlib.pyplot.html), para fazer a construção de gráficos. Não é necesssário instalar nenhum deles, o Jupyter já as tem naturalmente.

In [8]:
import pandas as pd
import matplotlib.pyplot as plt

## 2. Passo a passo do código 

<!---
Vamos começar organizando o passo a passo do código, ou seja, a lógica de programação. Dessa maneira, temos:

* Passo 1: Importar a base de dados
* Passo 2: Visualizar a base de dados
* Passo 3: Tratar os dados
    * 3.1 Verificar as variáveis de cada coluna
    * 3.2 Excluir colunas desnecessárias
    * 3.2 Analisar as células vazias
* Passo 4: Analisar os dados
    * 4.1 Analisar Graficamente
--->
### 2.1 Importando a base de dados 
Importamos o arquivo, que está localizado na mesma pasta que está esse Jupyter Notebook, adicionando no comando que o separador de itens é o ponto e vírgula.

In [9]:
dados = pd.read_csv('Base de dados.csv', sep = ';')

### 2.2 Visualizando a base de dados
Nessa etapa, vamos imprimir a tabela para entendermos como estão organizados os dados da tabela, quais informações estão disponíveis e ter um direcionamento para o tratamento de dados.

In [10]:
display(dados)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
...,...,...,...,...,...,...,...,...,...
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0